*{
    margin: 0;
    padding: 0;
    box-shadow: 0;
}
.contant{
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: left;
    text-align: left;
    padding: 85px 150px 85px 80px ;
    box-sizing: border-box; 
    background-color: rgb(230, 230, 230);
}
.contant .frist{
    width:45%;
    margin-right: auto;
    position: relative;
    top: -10px;
    right: 10 px;
    left: 20px;
    padding-left: 40px;

}
.contant .frist img{
    height: 100px;
    margin-top: 100px;
    left: -100px;
}
.contant .frist p{
    position: relative; 
    top: -10px;
    left: 27px;
    font-size: 23px;
    font-family: sans-serif;
}
.contant .second {
    width: 45%;
    margin-left:50px ;
    margin-top: 50px;
}
.contant .second form{
    display: flex;
    flex-direction: column;
    padding: 6px 30px ;
    width: 400px;
    height: 350px;
    box-sizing: border-box;
    box-shadow: 0px 11px 13px -10px;
background-color: white;
border-radius:10px ;
}
.contant .second input{
    font-size: 17px;
    padding: 14px 16px;
    border: 1px solid rgb(117, 138, 243);
    border-radius: 10px;
    width: 100%;
    margin : 5px;
   

}


.contant .second form .login{
background-color: hwb(219 9% 12%)  ;
color: white;

}

.contant .second form .lk{

    display: flex;
    justify-content: center;
    text-decoration: none !important;
    cursor: pointer;
}
.second form .btn{
    width: 180px;
    height: 60px;
    background-color: #2acb3d;
    border-radius: 10px;
    color: hsl(0, 0%, 96%);
    display: flex;
    justify-content:  center;
    margin-left: 80px;


}
  



.contant .second p{
width: 400px;
padding: 20px;
text-align: center;
font-family: sans-serif;
font-size: 14px;

}
.contant .second p a{
 
    color: black;
    text-decoration: none !important;
    font-weight: 900;
    font-size: 13px;
    width: fit-content;

    }
